
:root{
    --primary-dark:rgb(172, 134, 46);
    --primary:#ca3933;
    --primary-light:rgb(230, 180, 64);
    --secondary-dark: rgb(174, 100, 216) ;
    --secondary: #ca3933 ;
    --secondary-light: rgb(220, 159, 255) ;
    --light: rgb(244, 244, 244) ;
    --gray: rgb(129, 127, 116) ;
    --dark: rgb(24, 24, 22) ;
    --dark-less-opacity: rgba(24, 24, 22, 0.344) ;
}

*, ::before,::after{
    box-sizing: border-box;
}
.form-anim fieldset{
    border-radius: 10px;
    width: 75%;
    margin: 0 auto;
}
.form-anim h2 strong{
    color: var(--primary);
}
.form-anim h2{
    color: var(--gray);
    text-shadow: -2px 2px 0 var(--dark),
                    2px -2px 0 var(--dark),
                    -2px -2px 0 var(--dark),
                    2px 2px 0 var(--dark);
    line-height: 2.2rem;
}

.form-anim .form-group label{
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translateY(-50%);
    color: var(--gray);
    transition: 0.4s ease-out;
    font-size: 1.4rem;
    white-space: nowrap;
}

.form-anim .form-group input{
    display: block;
    width: 50%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-radius: 20px;
    border: 3px solid var(--gray);
    color: var(--gray);
    font-size: 1.4rem;
    transition: 0.4s ease-out;
}
.form-group:nth-last-child(2) {
    margin-bottom: 2vh;
}
.form-anim fieldset{
    padding: 15px;
    padding-top: 15px;
}
.form-anim .form-group{
    position: relative;
    display: flex;
    margin-bottom: 1.9rem;
    justify-content: center;
}
.form-anim .form-group:nth-last-child(1){
    margin-bottom: 1vh;
}
.form-anim .form-group input[type="submit"]{
    color: #ca3933;
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid var(--secondary);
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%, var(--secondary) 50%, var(--secondary-dark));
    background-size: 200%;
    font-size: 2rem;
    cursor: pointer;
}
.form-anim .form-group input[type="submit"]:hover {
    color: white;
    background-position: 100%;
    border: 3px solid var(--light);
}

.form-anim .link-form a {
    margin-left: 2vw;
    font-size: 1.5rem;
    border-bottom: 2px solid  transparent;
}
.form-anim .link-form a:hover{
    border-bottom-color: var(--primary) ;
}
.form-anim fieldset {
    padding-top: 2rem;
}
.form-anim .err {
    color: tomato;
}

/* animation */
.form-anim .form-group:focus-within label,
.form-anim .form-group.animation label{
    top: 0px;
    transform: translateY(-100%);
    color: var(--primary);
    font-size: 1.4rem;
}
.form-anim .form-group:focus-within input,
.form-anim .form-group.animation input{
    border-color: var(--primary);
}

datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: tomato;
    cursor: pointer;
  }
  
  datalist option:hover, datalist option:focus {
    color: #fff;
    background-color: #036;
    outline: 0 none;
  }


.progressbar {
    top: 100000px;
    
}

::-webkit-progress-value {
    transition: width 1s;
}
progress[value] {
    transition: width 1s;
    margin-bottom: 2.3rem;
    -webkit-appearance: none;
    appearance: none;
    border: none;

    width: 100%;
    height: 5vh;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, red, blue);

    border-radius: 20px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
  }


  progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
  }

  
@-webkit-keyframes animate-stripes {
    100% {background-position: -100px 0px;}
}

@keyframes animate-stripes {
    100% {background-position: -100px 0px; }
}

/* Message Flash */
.alert {
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 3%;
}

.alert-success {
    background-color: #269428;
    color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    background-color: #3490bd;
    color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    background-color: #c49441;
    color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    background-color: #de1713;
    color: #f2dede;
    border-color: #ebccd1;
}